[2017-06-29 07:50] sylwiabr opened #4 "automatic system for luna and luna-studio packages building and deploying"

[2017-06-29 08:55] sylwiabr opened #7 "automatic packages testing"
run installer in docker container, check if all components are at right places, check if Luna Studio runs properly  -> some integration tests needed

[2017-07-05 08:35] sylwiabr opened #8 "Installing luna with luna-studio"
@sylwiabr commented on [Wed Jul 05 2017](https://github.com/luna/luna-studio/issues/76)

Luna has to be installed as dependency to luna-studio but it will be installed not as an application but like on Linux to home directory

[2017-08-25 16:06] sylwiabr opened #20 "luna-manager publish command"
- update version of package (take main config.yaml and set newest nightly +1 version)
- git push

[2017-10-16 09:23] piotrMocz opened #46 "Manager needs wget"
When running `luna-manager develop` on a clean` Mac OS, It fails due to lack of wget.

[2017-10-17 09:37] sylwiabr opened #49 "restore Luna Studio from Dock on MacOS"

[2017-10-24 10:59] piotrMocz opened #52 "luna-manager develop crashes on python installation on MacOS High Sierra (10.13)"
There is an missing openssl error, even though it is installed using Homebrew. Seems connected to [this pyenv issue (#950)](https://github.com/pyenv/pyenv/issues/950).

This is the full output:
[code]

[2017-10-27 10:00] piotrMocz opened #54 "Automatic system for deploying packages to Amazon (Windows)"

[2017-10-31 10:00] piotrMocz opened #60 "Set up CI (Jenkins) on the new PC"
We will use it to:
- keep track of the builds
- fetch code from GitHub
- build and deploy automatically
- do promotions (to nightly and release)

[2017-11-29 11:11] piotrMocz opened #77 "Analytics for Luna Manager install command"
We need to:
- [ ] prompt for email on startup (this is also the installer-electron task)
    - [ ] in text mode we need to prompt the user for email
    - [ ] in GUI mode we need to wait for installer's message
    - [ ] in both cases we need to save the email (along with `uname -a` output) to the `~/.luna/user_info.json` file
    - [ ] if this file already exists we need not perform the above act

[2017-12-05 15:52] sylwiabr opened #81 "remove tmp files when exiting"

[2018-01-17 00:50] lts123124 opened #109 "Privacy agreement should be provided when collecting email addresses"

[2018-01-17 00:51] lts123124 opened #110 "Provides SHA-1 checksums or GPG signatures for executing files"

[2018-01-17 01:18] wdanilo opened #111 ""Prelude.head: empty list" error when using the manager on Windows behind a firewall"
Related: https://news.ycombinator.com/reply?id=16164541&goto=item%3Fid%3D16163769%2316164541

[2018-01-17 01:38] mmaton opened #112 "LunaStudio fails to launch on MacOS 10.13.1"
Launching the LunaStudio application from finder appears to do nothing, no apparent error logs in Console.app

Launching from terminal may be more indicative of the issue.

[code]

[2018-01-17 03:46] 3Dcube commented on #111
I got the same error. I tried to turn off firewall, windows defender, used it with VPN connection and with the direct connection to the internet without a router, still no luck. It's probably not related to the firewall at all.

[2018-01-17 08:56] oli-obk opened #113 "Wrong path added to bashrc"
I get `export PATH=/home/oliver/.local/bin/luna-studio:$PATH`

The added path should not contain `luna-studio`, but just the `bin` dir

[2018-01-17 14:26] 1600 commented on #111
Same error here.

[2018-01-17 14:39] rfunix commented on #111
+1

[2018-01-17 14:43] drewblas opened #114 "Security: Please offer installer links over HTTPS"
Your main site does not operate over HTTPS and all download/installer links are plain HTTP.  When asking people to download and install software, please provide it over HTTPS and provide SHA-256 checksums (on a webpage over HTTPS).

Asking people to blindly install software that can be easily middle-manned is extremely dangerous.

[2018-01-17 17:02] wdanilo opened #115 "Add Uninstall functionality"
It seems that some people want to uninstall Luna!

We should provide easier way to do it than just by removing selected folder.
Related: https://discuss.luna-lang.org/t/windows-uninstaller/36/2

[2018-01-17 17:09] BatmanAoD opened #116 "Installation did not finish correctly; cannot uninstall"
I'm on 64-bit Windows 7.

I ran Luna Manager and installed 1.0 Beta. The installation hung at "90% complete"; after waiting what felt like a long time (unfortunately I don't remember how long, but I think it was at least fifteen minutes and probably closer to half an hour), I closed the manager. (If there's a button to cancel installation, I may have clicked that.)

I noticed that LunaStudio appea

[2018-01-17 17:26] hardliner66 commented on #111
The link should be: https://news.ycombinator.com/item?id=16164541&goto=item%3Fid%3D16163769

[2018-01-17 18:13] leiserfg opened #117 "Install behind proxy"
I am behind a proxy and tried to install but it takes a long time, I don't know if it is using the proxy or not.

[2018-01-17 18:23] leiserfg commented on #46
In case of keep using external tools, add aria to the list

[2018-01-17 18:56] DominikPott commented on #111
+1

[2018-01-17 22:02] chancyk commented on #116
I'm having the same experience on Windows 7 64-bit Pro. The installer seems hangs at 90% and doesn't appear to be doing anything.

[2018-01-17 22:47] wdanilo opened #118 "Allow using the installer without providing mail address"
It seems that our choice to always require mail address even in beta is controversial. We should relax the requirements and allow progressing without providing the mail address.

Here is related Hackernews discussion: https://news.ycombinator.com/item?id=16167240

[2018-01-17 23:13] finder opened #119 "Tutorial list doesn't load"
Tutorial list doesn't load, stuck on "Fetching tutorials list..."

I think that the error below is related.
I'm on arch linux, and installed using the binary package.

**Atom**: 1.18.0 x64
**Electron**: 1.3.15
**OS**: linux 4.14.13-1-ARCH
**Thrown From**: [luna-studio](...) package 1.0.0

### Stack Trace

Uncaught TypeError: parsed.forEach is not a function

[code]

### Commands

[code]

### Non-C

[2018-01-17 23:18] finder commented on #119
Sorry, this seems to be fixed on nightly. Was only an issue on the beta.

[2018-01-17 23:18] #119 closed

[2018-01-18 10:13] sylwiabr commented on #118
Luna manager is allowing you to install luna-studio without giving an e-mail. Moving to graphical installer.

[2018-01-18 10:20] #118 closed

[2018-01-18 10:20] sylwiabr commented on #118
Issue moved to [luna/installer-electron #19](https://github.com/luna/installer-electron/issues/19) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-18 11:16] ipmurali opened #122 "luna-studio on windows 8 not installing"
I am new to luna...
trying to install on Windows 8... but it's neither installing nor giving any error message when I am double clicking the exe file.

**Below are my system details**
Windows 8.1 Pro
Processor Intel i5-2520M @ 2.50 GHz
RAM 8GB
64 bit
Thinkpad T520

[2018-01-18 15:13] ducktype commented on #111
+1

[2018-01-18 19:52] lukagudelj opened #126 "Windows 7 Problem Installing Luna"
------------------------Error----------------------------------
'powershell' is not recognized as an internal or external command,
operable program or batch file.
Received ExitFailure 1 when running
Shell command: powershell "$s=New-Object -ComObject WScript.Shell; $sc=$s.createShortcut('C:\Users\Luka\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\LunaStudio.lnk');$sc.TargetPath='C:\Program

[2018-01-18 20:11] coopyey commented on #126
I had this issue during installation - you need to add powershell to your path environment variable.

[Here's a Microsoft help doc on how to modify or add to the PATH variable.](https://msdn.microsoft.com/en-us/library/office/ee537574(v=office.14).aspx)

To add powershell to your path, you should use: %windir%\system32\WindowsPowerShell\v1.0\

[2018-01-18 20:12] wdanilo commented on #126
There is also another comment from "guyinpants":
[code]

[2018-01-19 00:42] dfordivam opened #127 "Install via Nixpkgs / Nix setup"
Hello!

I think it would be really convenient if one can install luna via nixpkgs, especially for people who use NixOS.

To be honest I was actually surprised that it is not available yet!

[2018-01-19 01:20] dfordivam commented on #127
Actually on NixOS its not even possible to run the downloaded executable. I guess the only option is to build from source.

[code]

[2018-01-19 03:07] wdanilo commented on #127
@dfordivam Nobody uses Nix here, but we would love to support it. Would you agree to help us do it properly?

[2018-01-19 10:12] 573 commented on #111
+1

[2018-01-19 23:11] luan373 commented on #122
I've the same problem :(

Windows 10 here

[2018-01-20 01:59] wdanilo commented on #122
Does 1.0.1 version fix this issue for you guys?

[2018-01-20 02:00] wdanilo commented on #111
Hi guys! Try the 1.0.1 version, it should be fixed now!

[2018-01-20 02:05] wdanilo commented on #117
Could you please provide us with  as much detail as possible about the times, your system, its configuration and expected behavior?

[2018-01-20 02:06] wdanilo commented on #112
Interesting, so did you successfully launch it from terminal ?

[2018-01-20 02:07] wdanilo commented on #110
Hi! It would definitely be better to provide them. Do you think you could help us implement it? It's rather a simple thing but @syl

[2018-01-20 02:08] wdanilo commented on #109
@kustosz ?

[2018-01-20 02:09] wdanilo commented on #109
I'll talk with @kustosz about it and we'll be back with reply soon!

[2018-01-20 07:22] ipmurali commented on #122
In the site(http://www.luna-lang.org/) i can see only 1.0 beta version, where will get 1.0.1 version?

[2018-01-20 19:02] leiserfg commented on #117
Sorry, the problem only occur with the UI installer only, I did run luna-manager manually and it's works fine.

[2018-01-21 00:24] wdanilo commented on #117
@leiserfg hmm, its almost impossible. The GUI installer just calls `luna-manager` behind the scenes. Maybe there were some network problems when you first tried? Anyway, I'll close it for now, but please re-open as you need! :)

[2018-01-21 00:24] #117 closed

[2018-01-21 00:29] wdanilo commented on #122
Oh, I did not think it would be misleading. We have to think how to improve it - if you have any idea how to make it better on the website, please tell me.

The thing is - you can download the Luna Installer once and use it many times. It will always allow you to choose the most recent Luna version from its drop-down list. Any version with 3 numbers, like `1.0.x` is a "nightly" version and we don'

[2018-01-22 05:48] Vesnica commented on #111
@wdanilo Confirmed, ver 1.0.1 installed successfully. :+1:

[2018-01-22 07:19] kustosz opened #129 "Windows services should not run in background when Luna Studio is not running"

[2018-01-22 07:30] #111 closed

[2018-01-22 07:32] kustosz commented on #112
@piotrMocz @sylwiabr sounds like broken supervisor config, do you have any ideas what happened here?

[2018-01-22 07:37] #129 closed

[2018-01-22 09:17] kustosz commented on #116
@sylwiabr @piotrMocz Do you need any more information to resolve the issue?

[2018-01-22 13:48] sylwiabr commented on #115
contact @wdanilo before starting implementation

[2018-01-22 16:53] sylwiabr opened #130 "Increase verbosity for Windows installation"

[2018-01-22 16:54] sylwiabr commented on #116
@BatmanAoD Probably copying files to `$HOME/.luna` didn't finish. If you want to give it a try you can delete `$HOME/.luna` folder (if it exist) and run it once again. To remove Luna Studio completely from your computer you need to:
1. remove  `$HOME/.luna`
2. open console with Administrator privileges and run `C:\Program Files\LunaStudio\1.0\config\windows\uninstallAll.bat`
3. remove  `C:\Program

[2018-01-22 18:37] piotrMocz commented on #116
Hey @BatmanAoD, I'm not proud of what I'm going to suggest but this may be a good short term fix (and we'll investigate the permissions issue in the meantime).

Could you try re-running all the three steps @sylwiabr has outlined to remove any versions of Luna Studio you have on your computer? Then it would be the safest to restart the machine (if that's a possibility) and install Luna all over aga

[2018-01-22 19:16] BatmanAoD commented on #116
@piotrMocz I understand--I've seen very strange permissions errors before! (Once I had a file called `C:\Program` that somehow got created and couldn't be deleted except in safe mode.)

I probably won't be able to do this today, but I'll let you know when I get a chance.

[2018-01-23 09:27] mikusp opened #132 "luna-manager uninstall command"

[2018-01-23 09:28] mikusp opened #133 "register uninstall in add/remove programs on windows"

[2018-01-23 14:51] piotrMocz opened #134 "Add an option for installing Luna Studio from local packages"
We need an option to install from a package that is already on the user's disk, i.e. sth like:
[code]

[2018-01-23 15:07] #77 closed

[2018-01-23 15:11] piotrMocz opened #135 "Add a `version` command to Luna Manager"
That will return the information about the version of Luna Manager itself.
Like:
[code]

[2018-01-27 04:24] BatmanAoD commented on #116
Okay, I followed your advice, running the `uninstallAll` script for both `1.0` and `current`, deleting `~/.luna`, and deleting the `LunaStudio` program folder.

Then I tried again to install the beta release, and got what looks like the same `tar` error as above. I tried again as an administrator and got the same result.

[2018-01-29 10:55] #112 closed

[2018-01-31 22:42] janklosowski opened #144 "luna-manager update command"
The 'update' command is visible in the application help but returns:
`Unimplemented option: Update`

Before implementing, the option should be removed from the help view.

[2018-02-02 11:31] sylwiabr opened #148 "Ask user where should tmp folder be created (windows)"

[2018-02-04 02:27] wdanilo commented on #148
Why?

[2018-02-04 10:28] sylwiabr commented on #148
Because we are doing it in `c:/tmp` (regular tmp path is too long and there are problems with MAX_PATH`) and user can have really small C partition or just don't want to have it there. There were complains about this from windows users on #general

[2018-02-05 09:55] piotrMocz commented on #60
Issue moved to [luna/deploy #7](https://github.com/luna/deploy/issues/7) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-05 09:55] #60 closed

[2018-02-05 09:59] piotrMocz commented on #7
Issue moved to [luna/deploy #8](https://github.com/luna/deploy/issues/8) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-05 09:59] #7 closed

[2018-02-05 10:14] piotrMocz commented on #46
Seems like we won't be able to avoid using wget: Atom needs it. Closing.

[2018-02-05 10:14] #46 closed

[2018-02-05 15:54] sylwiabr opened #149 "Remove `.git` folders during creating packages"

[2018-02-05 16:18] sylwiabr opened #150 "make-package should not commit version to repository"

[2018-02-08 14:49] sylwiabr commented on #49
To restore as it should be I think we need serialization and deserialization in Luna Studio atom plugin. Why we disabled it? @pmlodawski

[2018-02-08 16:02] sylwiabr opened #153 "Add luna-manager dependency do luna-studio"
- change luna-manager name to luna commandline tools
- try to install luna-manager  in folder parallel to luna-studio (unless it is Mac Os - then ask about `~/.luna/bin` path
- set `$LUNA_ROOT` and `$LUNA_STUDIO_ROOT`

[2018-02-09 18:37] pmlodawski commented on #49
I have no idea, sorry

[2018-02-10 16:42] binary132 commented on #52
I too have this issue ☝️

[2018-02-10 17:03] binary132 commented on #52
I believe this is the cause of the issue:

[code]

As you can see by the following output, the newline in this command is included in the value of `opensslPath`.

I'm not familiar with Haskell, but I'll see if I can tweak this.  Ultimately, relying on the output format (or existence) of `brew` is a mistake that should be corrected.

---

[code]

[2018-02-10 17:15] binary132 commented on #52
This is actually a bug in the Luna Studio bootstrap.

[2018-02-10 19:03] binary132 commented on #52
This is fixed in `luna-studio` as of https://github.com/luna/luna-studio/pull/810 .

[2018-02-10 19:21] wdanilo commented on #52
So can we close this one?

[2018-02-10 22:18] wdanilo opened #155 "manager-based build seems to be broken on OS X"
@binary132 commented on [Sat Feb 10 2018](https://github.com/luna/luna-studio/issues/813)

This is built against my upstream which has the S3 links corrected to use packages.luna-lang.org: https://github.com/luna/luna-studio/pull/812

[code]

http://pastebin.centos.org/543396/

http://pastebin.centos.org/543381/

---

@wdanilo commented on [Sat Feb 10 2018](https://github.com/luna/luna-studio/issu

[2018-02-10 22:39] binary132 commented on #155
Good call, it's a dependency of the system haskell.  You'd think that `stack` wouldn't try to use the global by default.... maybe adjusting my PATH can help fix this.

[code]

^ cabal-install is a dependency of something else in homebrew, btw.

[2018-02-10 23:04] wdanilo commented on #155
adjusting your path should work as a hot fix. This bug have to be eliminsated in luna-manager too

[2018-02-11 00:21] binary132 commented on #52
Yes

[2018-02-11 00:34] binary132 commented on #155
Confirmed, moving `cabal` and `ghc` temporarily away from my PATH allowed `luna-manager develop` to succeed.

[2018-02-11 21:53] binary132 commented on #155
I suspect that for some reason the Shelly context does not inherit the environment variables correctly.  I'll see if I can set them with `Environment.setEnv` instead of sourcing the shell script...

[2018-02-11 22:00] wdanilo commented on #155
What? Moving `cabal` and `ghc` from your path resolved it? Hmm, then it seems like our path has lower priority than your system one. It's worth checking how the scripts append our path to $PATH and be sure they append it in front. If this is caused by such stupid thing like appending path to the end, it will also explain why libs are taken from wrong place - just thinking, I dont know this code co

[2018-02-11 22:05] wdanilo commented on #155
@binary132 ok, looking at the code everytihng seems ok. If you have a little time to track it down, the line which prepends everythign to path is here: https://github.com/luna/luna-manager/blob/master/luna-manager/src/Luna/Manager/Command/Develop.hs#L114

I'm wondering why it doesnt work for you. It works for us, so it will be great if you try to check what happens there on your side (printing $PA

[2018-02-11 22:24] binary132 commented on #155
Yeah, it is prepended.  When I try to print `os.environ["LD_LIBRARY_PATH"]` in `scripts_build/build.py`, I get `raise KeyError(key) from None`.  Trying to reproduce in a simpler case to see why this is happening....

[2018-02-11 22:32] wdanilo commented on #155
interesting. Thank you for working on it!

[2018-02-11 23:27] binary132 commented on #155
During the `gyp install` step:

[code]

[2018-02-11 23:40] binary132 commented on #155
https://stackoverflow.com/a/856287 might be relevant...

[2018-02-12 00:13] wdanilo commented on #155
Actually I'm sure we've been discussing `gyp` some time aga and its working here. Im sure @sylwiabr will know more here.

[2018-02-12 05:11] KyleHerndon commented on #122
Just wanted to say that this is still an issue for me on Windows 10. I run the installer, it asks for additional permissions which I confirm, but then I get no additional information. No error reported, no installer GUI.

If you need someone to test potential fixes, I am available.

[2018-02-12 05:48] wdanilo commented on #122
Such output such never appear there. Installer should only inform about progress etc. @sylwiabr you have to see it.

[2018-02-12 08:22] sylwiabr commented on #122
@KyleHerndon can you please try to run `lunaInstaller.exe` from command line (probably with administrator privileges) and check if there is any error? It looks like missing dependency for electron application.

[2018-02-12 09:21] sylwiabr commented on #148
add `--tmp` option to pass to luna-manager

[2018-02-12 14:54] binary132 commented on #155
https://ghc.haskell.org/trac/ghc/ticket/11617#comment:1

[2018-02-12 15:45] binary132 commented on #155
I'll open an issue specifically to track and resolve the `LD_LIBRARY_PATH` item.  I'll leave any further notes on unrelated items in here.....

[2018-02-12 15:46] binary132 opened #156 "LD_LIBRARY_PATH is unset in OS X child processes due to SIP."
This can be fixed with:

https://docs.haskellstack.org/en/stable/yaml_configuration/#extra-include-dirsextra-lib-dirs

[2018-02-12 15:49] binary132 commented on #156
As a workaround, `brew install zeromq` should work.

[2018-02-12 16:18] binary132 commented on #155
I can't reproduce the `cabal` conflict, maybe it was due to a partial build or partial download?  The remaining issues are:

 - `gyp install` fails (known issue, work around with --release)
 - `libzmq` not found (known issue, work around with `brew install zeromq`)
 - GHCJS build step fails frequently with heap exhaustion (work around by retrying)

[2018-02-12 19:53] BatmanAoD commented on #116
I've tried installing the 1.1 Beta release on a fresh Windows 10 install; I got what appeared to be the same error, even after running the installer as an administrator.

Now I'm wondering how I ever got as far as I did in the install...

[2018-02-13 06:25] sylwiabr commented on #116
ok so this is connected with issue https://github.com/luna/luna-manager/issues/149 and is caused by windows `MAX_PATH`. We will try to solve it as soon as possible. Uninstalling with Control Panel should work then.

[2018-02-14 00:44] wdanilo opened #159 "PermissionError: [Errno 13] Permission denied while installing Luna Studio in Windows 10"
@niutech commented on [Tue Feb 13 2018](https://github.com/luna/luna-studio/issues/818)

I cannot install Luna Studio 1.1 beta in Windows 10 using `lunaInstaller.exe` run as Administrator:

[code]

[2018-02-14 01:20] wdanilo opened #160 "bootstrap.hs has broken s3 links"
@binary132 commented on [Sat Feb 10 2018](https://github.com/luna/luna-studio/issues/811)

http://packages.luna-lang.org/ should be used instead (per. @mikusp )

[2018-02-14 03:46] KyleHerndon commented on #122
When I run lunaInstaller.exe from the command line instead of luna-manager.exe, it immediately terminates with no output.

[2018-02-14 04:37] CaiusTSM commented on #116
I am having the same issue on windows 7 64 bit with version 1.1. I deleted everything containing "luna" from my c drive and also deleted also registry entries containing "luna". I also removed a bunch of things from my system path to shorten it. But it still hangs at 90%. Not having a more details option makes it hard to tell what is going on.

[2018-02-15 14:16] #52 closed

[2018-02-16 02:01] brandonmp opened #164 "how do i uninstall this?"
I installed luna studio on a lark a month or two ago, but it never worked.

Today I noticed `luna-empire.exe` running on my computer. As far as I can tell this process belongs to Luna Studio, but there's no uninstaller showing up in win10 add/remove program.

I downloaded / ran `luna-manager`, but there's no indication that it's aware of the current installation & no way to uninstall it.

So: how

[2018-02-16 08:51] mikusp commented on #164
Please download a fresh installer and install newest Luna Studio. Starting from 1.0.2 we provide an uninstaller that is registered in add/remove programs. It will remove all installed versions of Luna Studio.

Let us know if you have any further issues.

[2018-02-16 15:52] brandonmp commented on #164
thanks. installing [the windows edition ](http://packages.luna-lang.org/windows/lunaInstaller.zip) added LunaStudio to the Add / Remove Programs list, at which point I was unable to uninstall like normal.

[2018-02-16 15:52] #164 closed

[2018-02-20 10:54] #110 closed

[2018-02-20 10:57] #133 closed

[2018-02-20 11:47] #126 closed

[2018-02-20 11:48] #135 closed

[2018-02-20 12:40] #149 closed

[2018-02-20 12:40] #148 closed

[2018-02-20 12:45] #113 closed

[2018-02-20 13:26] #144 closed

[2018-02-21 15:06] sylwiabr commented on #159
should be solved in new upcoming package (1.1.1)

[2018-02-22 07:38] sylwiabr opened #169 "[Windows] Ask to run with administrator privileges"
Check if manager is running with administrator privileges, if not stop and ask to rerun with proper rights

[2018-02-27 21:04] wdanilo opened #170 "Don't allow for Linux local installation when running as root"
We should just deny "local" installation when running the installer as root user. We should still allow for system-wide installation.

[2018-02-28 17:20] BatmanAoD commented on #116
@sylwiabr Since #149 is now closed, should I try again to install?

[2018-02-28 17:27] BatmanAoD opened #171 "Http failure in Windows 10 with release 1.2; must restart installer"
I got the following error trying to install release 1.2 on Windows 10:

[code]

The orange button changed from "Install" to "Close" (without, as far as I could tell, ever going through the "Downloading" state).

After closing the installer using the button and re-running it, the download was successful. The installation itself has not yet completed.

[2018-02-28 17:39] BatmanAoD commented on #159
@sylwiabr Should this also be resolved in 1.2? I got this error:

[code]

I believe I'm running with administrator privileges because I was given the elevate-privilege prompt (the "user account control" window with the "make changes to your device" text).

[2018-02-28 17:57] BatmanAoD commented on #159
Re-running *as an Administrator* (from the right-click menu in Explorer) seems to have finished in a successful install. So it seems the privilege-elevation prompt is a bit misleading.

[2018-03-01 08:32] mikusp commented on #159
From our experience, the "permission denied" error is ephemeral and rerunning the installation often succeeds. We don't know why Windows behaves like this. It was suggested that AV programs can interfere, but it isn't proven.

[2018-03-05 08:50] sylwiabr commented on #116
@BatmanAoD you should be able to install newest luna-studio with last manager/installer

[2018-03-06 17:37] sylwiabr commented on #81
It turns out we have fixed it at some point.

[2018-03-06 17:37] #81 closed

[2018-03-07 00:09] BatmanAoD commented on #116
@sylwiabr I eventually did get 1.2 to install! Weirdly, I had to manually launch the installer in admin mode, even though I was given the "permit changes" prompt even when I launched it normally.

[2018-03-07 08:04] sylwiabr commented on #116
@BatmanAoD  Great! If the problems with installer will appear within next versions (it should appear soon) could you create a separate issue for this or write to us? Can we close this one?

[2018-03-07 17:06] #116 closed

[2018-03-13 18:48] bozena-lukasiak opened #178 "The pause button does not stop the interpreter"
Just installed luna 1.18 on ubuntu 16.04.
The pause button (left down corner) does not stop the interpreter.

[2018-03-13 21:20] kustosz commented on #178
Hey @bozena-lukasiak, thanks for the report. First of all – 1.18 is not the Luna version, that's Atom's version, which is quite unfortunate. Do you remember what version was it in the installer? The options really are 1.0, 1.1 or 1.2.
Can you elaborate on the behavior? What was the program, at which point did you disable the interpreter and after what operation did it recompute? Do you have any re

[2018-03-16 13:37] sylwiabr opened #182 "Add option to pass local config to manager"
At this point we can pass local config.yaml file to install command but it should be global option.

[2018-03-16 13:56] kustosz opened #183 "Windows make-package can't handle lack of tmp dir"

[2018-04-10 12:07] sylwiabr commented on #178
Issue moved to [luna/luna-studio #884](https://github.com/luna/luna-studio/issues/884) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-10 12:07] #178 closed

[2018-04-10 12:14] #54 closed

[2018-04-10 12:14] sylwiabr commented on #54
Issue moved to [luna/deploy #9](https://github.com/luna/deploy/issues/9) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-26 19:43] dumptruckman opened #187 "Windows installer does nothing"
When I try to launch lunaInstaller.exe on Windows 10 Pro, windows asks for elevated permissions and then nothing else happens. I looked in my system logs to see if there were any errors reported but nothing is there either.

[2018-04-26 19:51] dumptruckman opened #188 "Parameter format not correct -"
When installing on Windows 10 Pro with the luna-manager.exe everything seemed to be working fine until I encountered this error. `Parameter format not correct -`

Here is the full log:
[code]

[2018-06-05 10:08] #150 closed

[2018-06-25 14:00] sylwiabr opened #189 "Change packaging way on Linux"
Because we have to load libraries separately for backend and frontend there is an idea to get rid of Appimage. Insted of this we may use classic rpm/deb approach with extra tar.gz package.

[2018-06-26 12:02] lunalangCI opened #190 "Transfer the Searcher to the new Component model"

[2018-08-01 11:01] pmlodawski opened #191 "Show installing progress on taskbar"
https://msdn.microsoft.com/pl-pl/library/system.windows.shell.taskbariteminfo.progressstate(v=vs.110).aspx

[2018-08-02 09:19] sylwiabr opened #192 "Luna-develop fails on systems with no pip installed"
@lunalangCI commented on [Tue Jul 24 2018](https://github.com/luna/luna-studio/issues/986)

On a clean MacOS install (10.12) running `luna-manager develop luna-studio` produces the following error:
[code]

[2018-08-02 09:32] sylwiabr opened #193 "Insufficient quoting in luna-shell script"
@lunalangCI commented on [Wed Jul 25 2018](https://github.com/luna/luna-studio/issues/989)

This happened when running `make-package`:
[code]
Which may be caused by us not quoting the PATH(s) correctly.

[2018-08-03 11:08] sylwiabr commented on #187
@dumptruckman  can you check the newest Installer available on the website?

[2018-08-03 11:10] sylwiabr commented on #122
@KyleHerndon  @ipmurali can you check the newest Installer available on the website?

[2018-08-03 14:54] dumptruckman commented on #187
Seems to be working just fine. However, Windows did report the publisher was unknown. Not sure what you're suppose to do about that but figured I'd let you know.

[2018-08-03 14:54] #187 closed

[2018-08-03 14:56] iamrecursion commented on #187
Thanks for the report! We’re working on getting a certificate to sign the installer which should alleviate that kind of problem. :)

[2018-08-03 16:32] KyleHerndon commented on #122
I can confirm that the new installer works on my system running Windows 10 and that it launches successfully.

[2018-08-03 23:09] wdanilo commented on #122
I'm more than happy to see this issue is getting finally resolved! I'm closing this ticket for now. If anyone will see this bug coming bag, please re-open. Good job everyone!

[2018-08-03 23:09] #122 closed

[2018-08-05 23:29] mwu-tow opened #194 "Installing Luna Studio breaks user's PATH variable"
By "break" I mean
1) removing entry that I have manually added before
2) adding an invalid entry

My (local user's) PATH before installing Luna was:
[code]

And after:
[code]

The first entry (that I added) was deleted. At the end a new entry was added (pointing to a Windows Kit I don't have anymore).
It possible that installer runs in a context of another user and overwrites my PATH with totally

[2018-08-08 08:43] maedoc commented on #193
I ran into this on Windows during uninstall, where a number of errors were listed because, it seems paths aren't being quoted.  I'll try to cook up a fix and send a PR.

[2018-08-08 09:46] maedoc opened #195 "Build fails with permission denied on Windows"
I've run `stack install` but it fails with errors like
[code]
Google finds issues on [Stacks' GitHub](https://github.com/commercialhaskell/stack/issues/2617) suggesting a switch to GHC 8.2 might help.  I tried to switch to
[code]
but perhaps predictably errors arise,
[code]
More details on a reliable Windows build process would be appreciated.  In the meantime I'll try perhaps in a Docker containe

[2018-08-08 09:53] wdanilo commented on #195
Could anyone just kill Windows? There are always problems with it. How on earth there is even problem with GHC pkg cache there. :(

Anyway, try changing `GHC.Prim` to `GHC.Exts` and please see if it compiles, ok?

[2018-08-08 10:18] maedoc commented on #195
To be fair, this was a bug in GHC: it opened a file with flags to deny sharing, then `ghc-pkg` tries to do concurrent access, and Windows says, "but that's not what you asked for."

that worked, ran into another snag (but not Windows specific, just versioning stuff you probably to avoid...)

[code]
This one's over my head (again).  Ideas?

[2018-08-08 10:38] mikusp commented on #195
Porting luna-manager codebase to newer LTS could be non-trivial. Could you try `-j1` option for stack? The link you posted seems to suggest this as a workaround.

[2018-08-08 10:42] wdanilo commented on #195
I agree with @mikusp. Non-trival means here one or two days of our work I suspect (correct me if im wrong). GHC just changed some typechecking rules and we need to adjust code here and there to match them. We were already porting whole Luna and it was rather fast experience.

[2018-08-08 12:35] maedoc commented on #195
yes, I missed that, and now all is well. thx!

[2018-08-08 12:35] #195 closed

[2018-09-08 23:23] idnovic opened #197 "github.com connect: failed"
I have the following error:
I tried the Gui installer before. Did not work for me. So I wanted to try the terminal installer and see below. I am using macOS Sierra

[code]

[2018-09-24 22:31] jaen opened #198 "Cannot install Luna sources"
When I try to install sources for development as described in the `luna-studio` repository, the script fails complaining about Python not being installed, even though earlier in the script it seems to install it.

The installation log is as follows:
[code]

[2018-09-26 11:20] piotrMocz commented on #193
I'm closing this issue: until someone stumbles upon it again, I'll consider this done and fixed.

[2018-09-26 11:20] #193 closed

[2018-09-26 20:02] Xh4H opened #199 "[Windows] PC completely freezes during installation"
This issue has happened with both, GUI and CL installers.

I ran CLI with verbose on, and the last step I saw before this happened was [this](https://cdn.discordapp.com/attachments/403573875901726720/494594932175142912/unknown.png).

It never ended up copying a single file in the desired folder (or at least none that I could see?).

Version: the one you released today (26/09/2018 with luna 1.5).

[2018-09-26 20:04] PurgePJ opened #200 "[Windows] Can't move files to a different disk"
I tried to install Luna-Studio in my D: disk.

The problem lays here: luna-manager downloads everything in C:\temp and, after unpacking, moves everything to the desired folder, which errors.

This is the error I had:
[code]
spanish part translated: `The system can't move a file into another disk unit.`

[2018-09-26 20:39] PurgePJ commented on #199
Update: A kind member from the Discord Server suggested turning the AV off since they always scan every single file. Fortunately the PC didn't freeze anymore.

I will test tomorrow if it was the root of the issue or not.

[2018-09-26 21:56] wdanilo commented on #197
@idnovic coudl you try with the newest 1.5 version please?

[2018-10-03 07:03] piotrMocz commented on #198
Confirmed to work on a Linux and on a Mac -- I will consider this closed until someone encounters this issue on their config.

[2018-10-03 07:33] jaen commented on #198
I can understand this not being a high-priority issue, since if it's working for you, you at worst only lose my ability to contribute (and I'm probably not smart enough to be of help anyway), but it is still emphatically unsolved (just re-checked on both my machines and the result is the same), so I'm unsure why closing this is in order? Especially if – as far as I understand – that command is mea

[2018-10-03 07:36] piotrMocz commented on #198
@jaen if it's not working for you, I'm reopening this immediately (that's what I wrote above ;)). Do you have the exact same error as above?

[2018-10-03 07:45] jaen commented on #198
Well, yes – the exact same error. I'm the same person who opened this issue after all, I just assumed you mean someone [else than me].

If it helps, I'm running Arch Linux, my shell is fish (but this also kept happening if I explicitly changed into zsh or bash).

It also just occurred to me to check the sources and it seems the issue actually happens in a file that's in `luna-studio`: https://gith

[2018-10-03 07:53] piotrMocz commented on #198
It's the right place, don't worry ;) Okay, I'm going to look into this today, I'll try if I can somehow reproduce this error.

Fish shell is not yet supported -- getting pyenv to work correctly requires a plugin (https://github.com/daenney/pyenv). But if it doesn't work on zsh or bash either, then it's something we have to solve.

[2018-10-03 08:43] piotrMocz commented on #198
@jaen I thought about it -- I'm setting up a fresh env to confirm that, but that sounds very plausible.

[2018-10-03 12:04] piotrMocz commented on #198
Just to sum it up: turns out it's the mishandling of the `--path` parameter that's causing the problems. We will try to fix it as soon as possible but it is possible that other tasks will have priority over this one. FWIW, installing to the default location works without any problems that we know of.

[2018-10-04 10:21] piotrMocz opened #201 "Installer shouldn't append to PATH on Mac OS"
Because we are trying to do so, there's a warning on fresh Mac OS installs and it gives the false impression that something went wrong with the installation.

[2018-10-08 11:54] piotrMocz commented on #114
@sylwiabr is this issue anywhere near completion? I don't love having an issue labelled `Critical` just sitting here in the Icebox... Should I take over?

[2018-10-08 11:56] piotrMocz commented on #188
I don't think this is a problem anymore (we were able to successfully install with `luna-manager` many times). If I'm wrong and it still persists, please let me know and I'll reopen the issue immediately.

[2018-10-08 11:56] #188 closed

[2018-10-08 11:58] piotrMocz commented on #20
This is obsolete: we have the `luna/deploy` repo with the `deploy.py` script that takes care of this.

[2018-10-08 11:58] #20 closed

[2018-10-08 12:01] piotrMocz commented on #171
@BatmanAoD sory for no immediate feedback on this -- we were (are) swamped with tasks.

I don't think this issue persists, we haven't heard about any failing installations (as of release 1.5 everything seems to work as expected -- although the download and installation times are quite significant).

If it turns out to be a problem with 1.5 as well, I'll re-open.

[2018-10-08 12:01] #171 closed

[2018-10-08 14:27] piotrMocz commented on #114
There seems to be a problem with the HTTPS certificate that we need to investigate.

[2018-10-08 14:28] piotrMocz commented on #109
Ping :) Maybe we should stop collecting the addresses, given the new laws. @kustosz @wdanilo

[2018-10-08 17:28] BatmanAoD commented on #171
@piotrMocz  ...I had actually completely forgotten that I wanted to try out Luna.

I've just successfully installed it on my current Windows 10 machine without seeing anything unusual, so it seems you are correct that the issue has been fixed. Thanks!

[2018-10-12 10:17] piotrMocz commented on #198
Hey @jaen, would you like to give it a try? One note: you'll need to build the Luna Manager from source (or wait for us to release a new binary).

[2018-10-14 13:28] jaen commented on #198
Ok, so this still seems to not be working for me (still fails with a similar same error as in the OP), just different paths. Were you by chance testing the `--path` parameter with absolute paths? Because with your fix when I specify the `--path sources/luna-studio` parameter, the path instead repeats itself like so:
[code]
As far as I can see you don't expand the paths and description of `cd` (cf.

[2018-10-14 13:42] jaen commented on #198
Just to confirm it's indeed lack of eval, reproduction by hand in bash:
[code]

[2018-10-14 17:09] idnovic commented on #197
Awesome. Works now with the Gui installer.
Thank you!

[2018-10-14 17:09] #197 closed

[2018-10-16 11:56] mwu-tow opened #205 "Failed to install Luna Studio 1.5.100.6"
The following appeared when I tried updating my Luna Studio installation on Windows.

![obraz](https://user-images.githubusercontent.com/1548407/47014281-0e26a980-d14a-11e8-9b7b-dac03552e8d2.png)

[code]

The said path is 260 characters long, which exceeds MAX_PATH — I guess the tar2 (or whatever is source of the error)  is not long-path aware.
Also, the error message GUI looks ugly.

[2018-10-16 11:59] mwu-tow opened #206 "Luna Studio installation leaves garbage in C:\tmp"
![obraz](https://user-images.githubusercontent.com/1548407/47014834-aa9d7b80-d14b-11e8-8f8c-5a6af33d8c86.png)

The temporary files should be removed when installer closes.

[2018-10-16 12:06] mwu-tow opened #207 "C:\tmp is not a proper temporary directory"
The proper temporary directory in Windows 10 is `C:\Users\username\AppData\Local\Temp`. This should not be hardcoded though, function like http://hackage.haskell.org/package/directory-1.3.3.1/docs/System-Directory.html#v:getTemporaryDirectory looks reliable enough.

I suspect that C:\tmp choice might have been an attempt to avoid MAX_PATH limitation… but well, it still there (#205), it is the tool

[2018-10-16 12:11] mwu-tow opened #208 "Failed attempt to install a new Luna Studio version breaks the old one"
I tried to install a new version but it failed (#205) when extracting files to temporary directory.
Now I'm unable to start Luna Studio — when I click its button in start menu the process starts and after a second or two silently dies.

This is unexpected, particularly if installation fails on such early step as file extraction to tmp dir.

[2018-10-16 12:40] mwu-tow commented on #205
FWIW 7zip can extract the archive correctly into temp, handling the overlong paths correctly.

[2018-10-18 11:47] mwu-tow opened #209 "ssl certificate support for packages.luna-lang.org"
When using packages uploaded to our luna-packages S3 bucket, they should be available under  packages.luna-lang.org hostname. However, using such hostname in urls causes issues, as apparently it is not supported by our ssl certificate (or however this works).

Consider:
https://s3-us-west-2.amazonaws.com/packages-luna/dataframes/windows-package-base.7z
I can download this file with browser or curl

[2018-10-22 06:58] piotrMocz commented on #192
The problem here wasn't the lack of `pip`, it was the misplaced `.python-version` file (from pyenv). This is fixed.

[2018-10-22 06:58] #192 closed

[2018-10-22 06:59] piotrMocz commented on #192
The problem here wasn't the lack of `pip`, it was the misplaced `.python-version` file (from pyenv). This is fixed.

[2018-10-23 13:17] piotrMocz opened #211 "Support for adding external Luna packages when building a new package"
The packages will be copied into the `env` folder, next to `Std`. This will ensure they are discoverable by `luna`.

[2018-10-26 12:56] sylwiabr commented on #114
I have updated the certificate.

[2018-10-26 12:59] sylwiabr commented on #209
@mwu-tow can you check if it is working now?

[2018-10-26 13:35] mwu-tow commented on #209
@sylwiabr I seems that it is working now correctly. :)

[2018-10-26 13:42] #209 closed

[2018-10-26 14:20] piotrMocz commented on #205
The manager is now using 7Zip and everything seems to work.

[2018-10-29 13:31] sylwiabr commented on #207
Since we are using 7zip in manager we can fix this one

[2018-10-29 13:31] iamrecursion commented on #200
The fix for this will be to copy files to the destination and then delete them from the source. Take a look at the implementation of [`rename`](https://github.com/luna/luna/blob/master/package/src/Luna/Package.hs#L282) for Luna packages for an example of this.

[2018-10-31 09:49] piotrMocz commented on #207
This should've been fixed by: https://github.com/luna/luna-manager/pull/213

[2018-10-31 12:04] sylwiabr commented on #206
This should've been fixed by: https://github.com/luna/luna-manager/pull/213

[2018-10-31 17:00] sylwiabr commented on #205
Manager works fine, we have to check the installer when it will be released.

[2018-10-31 17:51] sylwiabr commented on #205
Ok, the installer is working as well. Jus progress updates needs to be sorted out (stops at Downloading 100%, then freeze and gets to Installing 85%)

[2018-11-06 12:41] sylwiabr opened #217 "Sort out Luna Installer progresses"
After switching from python bundled script to 7zip progress updates to luna installer needs to be sorted out (stops at Downloading 100%, then freeze and gets to Installing 85%)

[2018-11-13 15:44] mwu-tow commented on #206
It is not fixed from what I see. The files are just left now in another directory (now the correct `%TEMP%`). This report is not about wrong temp location, it is about not removing files from temp.

[2018-11-16 13:34] mikusp commented on #211
Current status: there is a `--external_package` parameter for deploy scripts that will include given package into Luna Studio. Right now only our windows machine can include dataframes. Relocatable package for Linux is done, but it would require changes in deploy scripts/manager to properly include it.

[2018-11-20 10:41] mikusp opened #220 "Promoting sometimes produces nested packages"
I observed issue with promoting packages on all three platforms. Sometimes resulting archive has usual bin, config, etc. directories inside *and* `luna-studio-$platform-1` directory, containing all of them once again. This produces incorrect packages, that have twice the size, incorrect .sha256 file. It's troublesome to fix that manually as well.

[2018-11-21 05:37] shengyang998 commented on #164
Hi @mikusp
How can I uninstall luna-studio on `macOS`? Is it enough by removing the `.app` file and `$PATH`? I can't find any infomation about it. I just got 1.6 beta installed.

[2018-11-23 11:16] #211 closed

[2018-11-23 12:14] #207 closed

[2018-11-23 12:15] #205 closed

[2018-12-06 10:34] sylwiabr opened #222 "luna-manager is always tagging newest tag as a next version"
If I have versions in repository: 1.0.0.1 1.0.0.2 and 1.0.0.3 and I want to promote 1.0.0.2 the tag 1.0.1 will be created on commit with tag 1.0.0.3 anyway and will not promote packages properly (versions in atoms package.json will not change

[2018-12-15 11:53] probonopd commented on #189
Can you describe the issue in more detail? Why do you think AppImage is less suitable for this?

[2019-01-30 23:23] mwu-tow opened #225 ""develop luna-studio" command fails on installing happy"
Using luna-manager from head command "develop luna-studio" fails, relevant stdout excerpt below:

[code]

[2019-02-04 13:04] mwu-tow opened #226 "Multiple copies of luna-studio executable (runner) end up in installation"
Currently luna-studio installation ends up with two copies of `luna-studio` executable: one at `bin/main/luna-studio` and another one at `bin/public/luna-studio/luna-studio`. It is contrary to the original design where `bin/main/` was supposed to contain symlinks to, not copies of public binaries.

There are few reasons for this happening:
* despite its name, shelly's `cp_r` doesn't behave like `c

[2019-02-17 22:01] Botronicz commented on #159
I'm still getting this error on Windows 10 Pro:
during copy from: C:\Users\xxxx\AppData\Local\Temp\luna17497\luna-studio-windows-1 to: C:\Program Files\LunaStudio\1.7
Exception: MoveFileEx "C:\\Users\\xxxx\\AppData\\Local\\Temp\\luna17497\\luna-studio-windows-1" "C:\\Program Files\\LunaStudio\\1.7": permission denied (Access is denied.)
Manager version: 1.2

This was from the GUI installer, but I

[2019-02-18 13:29] sylwiabr opened #228 "Install fails if MixPanel is unavailable"
@ricardojmendez commented on [Mon Feb 18 2019](https://github.com/luna/luna-studio/issues/1330)

Please ensure that you are running the latest version of Luna Studio before reporting the bug! It may have been fixed since.

### General Summary

Install fails if MixPanel is unavailable.

### Steps to Reproduce

1. Block api.mixpanel.com on your firewall
2. Attempt to use the command line installed o

[2019-02-18 22:05] mwu-tow commented on #159
@Botronicz
Thanks for reporting this issue!

Hard to say, I can install without a problem using the current luna-manager on Windows 10 Pro. I do get that error only when I run luna-manager without administrator privileges.

I'm not an expert on the matter, but I assume that error can mean two things:
1) permission denied to write the folder — please reconfirm that you run command line luna-manager

[2019-02-19 02:09] Botronicz commented on #159
AV software was indeed the problem.

I had IOBit Malware Fighter running when I'd previously tried all the installs.  I closed Malware Fighter and the install completed (with Administrator privileges).
This is the first time I've ever had to close an AV program in order for an install to complete.  I've been doing development work on Windows since version 1.0, so that a lot of software installatio

[2019-02-19 11:49] mwu-tow commented on #159
@Botronicz Thanks for letting us know! Luna contains ~200 MB of binaries, AV software likely needs some time to properly go through them and is apparently locking us out from our files for a while.

I believe Windows Defender is able to do this in a way that just delays us instead of outright failing with permission denied — but people use various AV software and we need to deal with it. While we

[2019-02-20 17:38] mwu-tow opened #231 "[win] Install fails when %SystemRoot%\system32 not in PATH"
There is no guarantee that `%SystemRoot%\system32` is in `PATH` — this default setting of Windows can be overridden. Because of that our scripts like https://github.com/luna/luna-studio/blob/master/windows/installAll.bat can fail, because sc.exe command cannot be resolved.

Likely the scripts should use absolute paths.

[2019-02-21 20:52] mwu-tow opened #234 "Failed installation attempt makes it impossible to install later"
Installer checks if target path exists for given Luna Studio version. Failed installation attempt usually leaves the path. Then GUI installer will refuse to overwrite, yielding the message `You have this version already installed: <version>`.

[2019-02-25 23:04] mwu-tow commented on #225
Resolved on luna-studio side by https://github.com/luna/luna-studio/pull/1334  ( https://github.com/luna/luna-studio/commit/52788b635ad5949d40bd601ae4acf49dff933c2e )

[2019-02-25 23:04] #225 closed

[2019-02-25 23:05] mwu-tow commented on #231
Resolved on luna-studio side by https://github.com/luna/luna-studio/pull/1335 ( https://github.com/luna/luna-studio/commit/9c969279c8a2c76ed186ce6fedffe202d982baf1 )

[2019-02-25 23:05] #231 closed

[2019-03-04 23:38] mwu-tow opened #236 "Symlinks are troublesome on Windows"
Currently our packaging and installation process rely on symlinks, including:
* `bin/main` contains symlinks to `bin/public/appname`
* `install_dir/current` links to `install_dir/version`

Symlinks are troublesome on Windows because:
* they require administrator privilages to be created (by default)
* they cannot be stored in 7z archive format (which we use for Windows package)

Also, our design p

[2019-03-08 12:34] mwu-tow opened #237 "Failed installation attempt shouldn't leave garbage in destination directory"
If the installation fails, likely we should not leave in the destination directory any leftovers.
Or, if we decide, that current behavior is useful for diagnostics purposes, we need some mechanism to tell correct, finishied installation and failed leftovers apart.

[2019-03-09 17:20] mwu-tow commented on #194
One should never use `setx`.

[2019-03-15 14:01] mwu-tow opened #241 "Review and replace unsafe function usage"

[2019-04-17 17:24] sylwiabr commented on #191
Closing in favor of https://github.com/luna/luna-manager/issues/217

[2019-04-17 17:24] #191 closed

[2019-04-17 17:26] #49 closed

[2019-04-17 17:30] #4 closed

[2019-04-17 17:31] #8 closed

[2019-05-03 15:40] mulderr commented on #127
@dfordivam Hi! It's still not available. It is quite surprising considering how many Haskellers also use NixOS. Did you ever pick this up or make any progress?

I'm on NixOS as well and was just wondering the same thing. Wanted to try luna out after watching a video from lambda days.

I'm going to give it a try but will probably need some time to figure things out. BTW luna-manager at first glance

[2019-05-05 10:38] mulderr commented on #127
I haven't touched luna-studio yet but was making good progress on compiling luna itself. Except now ghc is panicking on `luna-passes`:

[code]

When I use `-fsimpl-tick-factor=200` my laptop is running out of memory (8GB) even if I close *everything*.

This is what I'm trying so far https://github.com/mulderr/luna-platform. I started with reflex-platform as a template so props go to the reflex fol

[2019-05-05 15:03] mwu-tow commented on #127
@mulderr From my experience 16 GB RAM is minimum. It will still hit swap but shouldn't be that bad.

But for build experiments, you should be able to use `-fomit-interface-pragmas` GHC option that significantly speeds things up and reduces memory usage. It is pased by default when building using luna's stack.yaml. With that 8 GB should be fine.

[2019-05-05 22:51] mulderr commented on #127
`-fomit-interface-pragmas` makes a huge difference. Added the other options as well and:
[code]

Probably still ways to go for luna-studio.

[2019-05-06 22:54] mulderr commented on #127
I may need some more help with this. There are libraries like typelevel that are:
1. on hackage
2. in `luna/typelevel`
3. in `luna/luna/lib/typelevel`

I'm completely ignoring 1 but 2 and 3 are being used in different places at the same time. Say backend services depend on a commit of `luna/luna` that has one version and luna-runner uses some commit from `luna/typelevel` that is incompatible.

I'm

[2019-05-07 01:28] mwu-tow commented on #127
A number of libraries that were once split to their own repos and uploaded to hackage were merged into the main `luna` repository. The libraries in the `luna` repository (in tyour case 3.) are the up-to-date and currently supproted copes. In future libraries might get split out of the luna repository again.

Some parts of the project (notably the frontend proejcts in luna-studio) haven't bumped th

[2019-05-07 08:59] mulderr commented on #127
Thanks. This isn't the best news though. It follows that the nix expressions would need constant fixing because there is no way to reuse stack configuration directly. Locking things to a specific commit is a very standard practice but if every package may potentially lock to a different commit for any number of it's dependencies or ineed different packages to different commits of the same depedenc

[2019-05-09 11:01] mulderr commented on #127
To sum up, we seem to have working nix expressions of luna. Not so much for luna-studio. The problem is that `luna-studio-runner` is on lts-8.2 (ghc-7.10.3) and it does not build with newer versions of GHC. Nixpkgs does not have that version any more. The earliest available right now is ghc-8.2.2. So we would need ghc + ghcjs with one overlay and on top of that a whole another version of ghc that

[2019-05-09 11:26] iamrecursion commented on #127
The first of the above mentioned issues (luna/luna-studio#1374) is open for community involvement.

[2019-05-13 10:17] sylwiabr opened #244 "Missing installer support for HTTP proxied internet connection (Win7)"
@asemt commented on [Wed Jan 17 2018](https://github.com/luna/luna/issues/81)

Hi there,

unfortunately I could not try the Luna language due to the fact that I'm behind a HTTP proxy and the installer is not picking up the Windows 7 proxy configuration automatically (and does not provide a way to define the proxy settings manually, it seems). Following error occurs:

[code]

Affected version: 1.0

[2019-05-13 11:55] mwu-tow commented on #199
Closing as external (behavior related to AV software) and not reproducible.

[2019-05-13 11:55] #199 closed

[2019-05-13 11:58] sylwiabr commented on #217
for more info contact @mwu-tow

[2019-05-13 12:00] sylwiabr opened #245 "Remove Shelly Dependency from Luna Manager"

[2019-05-13 12:03] sylwiabr opened #246 "Automatic CI builds for Graphical Luna Studio Installer"

[2019-05-14 00:12] mwu-tow commented on #200
The issue is caused by relying on http://hackage.haskell.org/package/directory-1.3.3.1/docs/System-Directory.html#v:renameDirectory — it does not support moving files between physical devices.

[2019-06-15 14:09] G07cha commented on #244
I've tried running luna-manager 1.1.4 with the following parameters:

[code]

But now it appears that analytics call is failing with similar error:

[code]

[2019-06-25 16:01] turion commented on #127
@mulderr Do you want to try again with https://github.com/turion/luna/tree/luna_luna_studio_1375?

[2019-06-28 08:22] turion commented on #127
@mulderr

[code]

[2019-06-28 12:03] turion commented on #127
I did:
@dfordivam in order to work around the `ldd` problem, I tried the following:
[code]

Still, I get:
[code]
I don't understand where this comes from.

[2019-07-01 04:40] ricardopieper commented on #116
This just happened to me on Mac. It stopped downloading at 55%, then I closed the downloader, tried again, and it just shows:

You have this version already installed: 1.8
Manager version: 1.1.4

[2019-07-01 09:35] turion opened #248 "PATH set incorrectly"
### General Summary
Installing luna-manager through stack and running it causes the PATH to be set incorrectly.

### Steps to Reproduce

[code]

By the way, I tried building luna-manager myself because you don't provide packaging for NixOS (#127).

I don't understand all the errors, but one of them is certainly that this was prepended to the PATH: `/home/turion/luna/luna-manager/tools/python/tools

[2019-07-01 10:11] mwu-tow commented on #248
Might be a bug in shelly, I saw it botch paths by reduplicating path components.

Please try prepending the correct path — does this allow to suppress error and go further?

[2019-07-01 10:18] mwu-tow commented on #127
@turion  I have once encountered similar seemingly nonsensical "No such file or directory" error — it was similarly after patching the binary. IIRC the "No such file or directory" message referred to the dynamic linker itself (or something resulting from an attempt to use it).
Is the path to `ld-linux-x86-64.so.2` correct and can it be manually invoked without error?

[2019-07-02 16:46] mulderr commented on #127
@turion Hi! The hash mismatch is rather odd. I was under the impression that hashes for git revs are stable but maybe that is not the case? Otherwise some things must have gotten mixed up during a refactor.

Swapping the hash in `haskell-overlays/luna-packages/luna.json` for the suggested value fixes things. Build pending. Will push a fix if all goes well. May take a while because I've run GC sinc

[2019-07-03 16:23] turion commented on #248
@mwu-tow I'm a bit at loss how to do that. It doesn't seem to work the way I would have thought it does.

[code]

How do I prepend the path? Do I need to patch `luna-manager` and `stack build` again?

[2019-07-03 16:29] turion commented on #248
This guerilla patch doesn't help:
[code]

[2019-07-03 16:34] turion commented on #127
@mwu-tow Right. That path is already incorrect:
[code]
I don't understand NixOS well enough to be able to tell where it should point instead. Probably one has to start a `nix-shell -p some-package` and then use `patchelf` to point to the correct path.

[2019-07-03 17:18] turion commented on #127
@mulderr Yes, that's surprising. Maybe a `git push --force`? But even then the hash should have changed.

Funny, it just happened again:
[code]
After fixing that, I get:
[code]

[2019-07-03 17:47] mulderr commented on #127
It only ever got as far as successfully compiling luna command line tool: `nix run '(import ./. {}).ghc.luna-shell`. Anything beyond that is unfinished.

I'd be happy to take another stab at this but I don't have much spare time lately, so I'd rather wait for review of https://github.com/luna/luna-studio/pull/1395.

In the meantime, if you can get anything in `luna/luna-studio` to compile then tha

[2019-07-03 18:28] turion commented on #127
@mulderr in https://github.com/turion/luna-studio/tree/luna_luna_studio_1375 I got `runner` to compile. Frontend (see https://github.com/luna/luna-studio/issues/1400) and backend not yet. Unfortunately, the PR seems to be a bit unnoticed.

I tried fiddling around with your code here: https://github.com/turion/luna-platform but I didn't get much further. You might be able to help me there, apparent

[2019-08-25 15:31] turion opened #249 "Can't build luna-manager"
### General Summary
I'm getting an error when I try to build it.

### Steps to Reproduce

[code]
I'm using NixOS.

[2019-08-25 15:44] turion commented on #249
After reading up on , I modified the `stack.yaml` file to: http://docs.haskellstack.org/en/stable/yaml_configuration/

[code]

This gets me one step further, but then I get:

[code]

[2019-08-25 16:52] turion commented on #249
As a workaround, I cloned https://github.com/luna/luna into a separate directory and changed the `stack.yaml` to:

[code]

[2020-01-21 05:19] oconnor0 opened #250 "AccessDenied when trying to install Luna via luna-manager.exe"
### General Summary

AccessDenied when trying to install Luna via luna-manager.exe

### Steps to Reproduce

When I attempt to install, I get the following:

[code]

### Expected Result

I would expect the install to succeed.

### Actual Result

Some files end up in `c:\luna` and `C:\luna\LunaStudio\1.9\bin\main\luna-studio.exe` does not start successfully when run. It pops up a dialog box that say

[2020-01-21 05:32] oconnor0 commented on #250
For what it is worth, I get the same error when running the above in `cmd` rather than `Power Shell`.